<h1>Here we will have all the documents for the clients</h1>
<p>Archivos de <%= @client.name %></p>
<%= link_to "Añadir un archivo", new_client_document_path(@client)%>
<%= link_to "Volver a todos los clientes", user_path %>


<%= form_with url: client_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :search,
    params[:search],
    class: "form-control",
    placeholder: "Buscar por documentos"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

   <% Document::TAX_NAME.each do |tax| %>
   <% if params[:query]&.include?(tax)%>
        <%= link_to tax, client_path(@client, query: params[:query] - [tax])%>
    <% else %>
      <%# link_to client_path(@client --> show page of the client %>
      <%# query: params[:query] -- checking if params query exist? true/false %>
      <%# if they exist --> add the new filter params[:query] + [tax] to the params hash --> true condition %>
      <%# if does not exist --> create the new params query with the first argunemt [tax ] --> false condition%>
      <%# link_to tax -->  %>
        <%= link_to tax, client_path(@client, query: params[:query] ? params[:query] + [tax] : [tax])%>
     <% end %>
   <% end %>


<div data-controller="modal" class="doc-grid">
  <% @documents.each do |doc| %>
		<div>
			<div class="d-none modal" data-modal-target="modal">
				<div class="modal-inner" data-action="click->modal#close">
				</div>

				<div class="position-absolute">
					<div data-modal-target="modalImgShell" class="h-100 w-100 d-flex flex-column align-items-end justify-content-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
						</svg>
					</div>
				</div>
			</div>

      <% if doc.file.attached? %>
        <% if doc.file.representable? %>
					<% path = cl_image_path(doc.file.key) + ".jpg" %>
					<% index = path.index("/upload/") + path["/upload/"].size %>

					<% url = URI.parse(path) %>
					<%# <% req = Net::HTTP.new(url.host, url.port) %>
					<%# <% req.use_ssl = true %>
					<%# <% res = req.request_head(url.path) %>
					<% images = [] %>
					<% counter = 1 %>
					<% http = Net::HTTP.new(url.host, url.port) %>
					<% while http.head(url.request_uri).code == '200' %>
						<% url_pg = path.insert(index, "pg_#{counter}/") %>
						<% url = URI.parse(url_pg) %>
						<% http = Net::HTTP.new(url.host, url.port) %>
						<%# <% req = Net::HTTP.new(url.host, url.port) %>
						<%# <% req.use_ssl = true %>
						<%# <% res = req.request_head(url.path) %>

						<%# <% Net::HTTP.start(url.host, url.port) do |http| %>
							<%# <% raise %>
							<%# <% break unless http.head(url.request_uri).code == '200' %>
						<%# <% end %>
						<% new_url = url_pg.dup %>
						<% images << new_url %>
						<% path.gsub!(/pg_\d\//, "") %>
						<% counter += 1 %>
					<% end %>

					<img src="<%= cl_image_path(doc.file.key) %>.jpg" class="grid-item" data-action="click->modal#openPdf" data-view="<%= cl_image_path(doc.file.key) %>.pdf" data-images="<%= images %>">


        <% else %>
          <%= cl_image_tag(doc.file.key, class: "grid-item", data: {action: "click->modal#open", view: cl_image_path(doc.file.key)}) %>
        <% end %>
      <% end %>

			<%= link_to doc.description %>
			<%= link_to "Download", document_download_path(doc, images: images), target: "_blank" %>
			<%= link_to "Preview", document_preview_path(doc, images: images), target: "_blank" %>
		</div>
  <% end %>

</div>


<p>I'm going to show here all the documents for this particular client</p>

<%# parse data-images in JS controller %>
<%# use JS to insert bootstrap carousel %>
