<h1>Here we will have all the documents for the clients</h1>
<p>Archivos de <%= @client.name %></p>
<%= link_to "Añadir un archivo", new_client_document_path(@client)%>
<%= link_to "Volver a todos los clientes", user_path %>

<%= form_with url: client_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Buscar por documentos"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div data-controller="modal" class="grid">
  <% @documents.each do |doc| %>
		<div>
			<div class="d-none modal" data-modal-target="modal">
				<div class="modal-inner" data-action="click->modal#close">
				</div>

				<div class="position-absolute">
					<div data-modal-target="modalImgShell" class="h-100 w-100 d-flex flex-column align-items-end justify-content-center">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
						</svg>
					</div>
				</div>
			</div>

      <% if doc.file.attached? %>
        <% if doc.file.previewable? %>
          <img src="<%= cl_image_path(doc.file.key) %>.jpg" class="grid-item" data-action="click->modal#openPdf" data-view="<%= cl_image_path(doc.file.key) %>.jpg">
        <% else %>
          <%= cl_image_tag(doc.file.key, class: "grid-item", data: {action: "click->modal#open", view: cl_image_path(doc.file.key)}) %>
        <% end %>
      <% end %>

			<%= link_to doc.description %>
		</div>
  <% end %>
</div>

<p>I'm going to show here all the documents for this particular client</p>
